/*****************************************************************/
/* Author:              Kelvin van Amstel                        */
/* File description:    This CSS is linked to all the HTML pages */
/*                      Responsive portfolio website             */
/*                      Mobile first                             */
/* Created on:          14-11-2015                               */
/* Finished on:         ??-??-????                               */
/*****************************************************************/

@font-face {
    font-family: 'walkway_boldregular';
    src: url('Walkway_Bold-webfont.ttf') format('truetype');

}

* {
    box-sizing: border-box;
    color: #333;
    font-family: 'walkway_boldregular';
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

h3 {
    margin: 1em 5em;
    text-align: center;
}

h4 {
    color: #FFF;
    font-size: 1.3em;
}

p,
time,
span{
    font-family: "Open Sans",Georgia;
    line-height: 140%;
    margin: .5em 0;
}

time,
span {
    font-style: italic;
}

header > nav {
    background-color: #333;
    -webkit-display: box;
    -moz-display: box;
    -ms-display: flexbox;
    display: flex;
    justify-content: flex-end;
    width: 100vw;

}

header > nav > ul {
    -webkit-display: box;
    -moz-display: box;
    -ms-display: flexbox;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: .5em;
}

header > nav > ul > li {
    -webkit-display: box;
    -moz-display: box;
    -ms-display: flexbox;
    display: flex;
    justify-content: flex-end;
    line-height: 140%;
}

header > nav > ul > li > a {
    color: #FFF;
    -webkit-display: box;
    -moz-display: box;
    -ms-display: flexbox;
    display: flex;
    justify-content: flex-end;
    line-height: 140%;
}

header > nav > ul > li > a:active {
    background-color: #CECECE;
}

header > picture > img {
    -webkit-display: box;
    -moz-display: box;
    -ms-display: flexbox;
    display: flex;
    margin: 0 auto;
}

main {
    margin: 1em .5em;
}

.projecten {
    margin: 4em .5em 2em .5em;
}

.projecten > article > article > section:nth-of-type(even){
    background-color: #E8E8E8;
}

.projecten > article > article > section {
    -webkit-display: box;
    -moz-display: box;
    -ms-display: flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2em 0;
}

.projecten > article > article > section > header {
    -webkit-display: box;
    -moz-display: box;
    -ms-display: flexbox;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.projecten > article > article > section > p {
    text-align: center;
    width: 80%;
}

.projecten > article > article > section > a {
    background-color: #90C3D4;
    color: #FFF;
    height: 2em;
    line-height: 200%;
    margin: 1em 5em;
    text-align: center;
    width: 8em;
}

.projecten > article > article > section > a:active {
    background-color: #5694A8;
}

.projecten > article > article > section > footer {
    font-size: .9em;
    text-align: center;
    width: 80%;
}

.projecten > article > article > section > header > img {
    height: 60%;
    width: 60%;
}

.footer {
    background-color: #333;
}


.footer > article {
    padding: .5em 0.5em;
}

.footer > article > section > header {
    margin: 1em 0;
}

.footer > article > section > nav > ul > li > a,
.footer > article > section > a {
    margin: 0 2em;
}

.footer > article > section > a > img,
.footer > article > section > nav > ul> li > a > img {
    height: 3.2em;
    width: 3.2em;
}

.footer > article > section > nav > ul > li > a:active{
    color: #AAA;
}
.footer > article > section > a > img:active {
    content:url("../img/linkedin_active.png");
}

.footer > article > section > p,
.footer > article > section > nav > ul > li > a {
    color: #FFF;
}

.author {
    color: #FFF;
    font-size: 0.9em;
    margin: 2em 0;
}

/* Javascript hide/show navigation */
.menu {
    -webkit-display: box;
    -moz-display: box;
    -ms-display: flexbox;
    display: flex;
    font-size: 1.2em;
    justify-content: flex-end;
    margin: .5em;
}

.invisible {
    display: none;
}

/**************************************************/
/* Screen width with a minimal size of 768 pixels */
/**************************************************/
@media (min-width: 768px){

    header > nav {
        background-color: #fff;
        -webkit-display: box;
        -moz-display: box;
        -ms-display: flexbox;
        display: flex;
        justify-content: flex-end;
        margin: 1em 0 0 0;
    }

    header > nav > ul {
        -webkit-display: box;
        -moz-display: box;
        -ms-display: flexbox;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 0;
        width: 33em;
    }

    header > nav > ul > li {
        justify-content: space-around;
    }

    header > nav > ul > li > a {
        background-color: #FFF;
        color: #333;
        padding: 0;
        width: 100%;
    }

    header > nav > ul > li > a:hover {
        color: #CCC;
    }

    main,
    .projecten {
        margin: 2em;
    }

    main > article > section {
        -webkit-display: box;
        -moz-display: box;
        -ms-display: flexbox;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    main > article > section > p {
        max-width: 40em;
        width: 48%;
    }

    .projecten > article > article {
        -webkit-display: box;
        -moz-display: box;
        -ms-display: flexbox;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .projecten > article > article > section {
        -webkit-display: box;
        -moz-display: box;
        -ms-display: flexbox;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0;
        max-width: 30em;
        width: 50%;
    }

    .projecten > article > article > section > header {
    }

    .projecten > article > article > section > header > h3 {}

    .projecten > article > article > section > header > img {
    }

    .projecten > article > article > section > p {}

    .projecten > article > article > section > a {}

    .projecten > article > article > section > footer {}

    .een {
        order: 1;
    }

    .twee {
        order: 0;
    }

    .drie {
        order: 2;
    }

    .vier {
        order: 3;
    }
}

/***************************************************/
/* Screen width with a minimal size of 1280 pixels */
/***************************************************/
@media (min-width: 1280px){

}

/***************************************************/
/* Screen width with a minimal size of 1600 pixels */
/***************************************************/
@media (min-width: 1600px){

}
