/*****************************************************************/
/* Author:              Kelvin van Amstel                        */
/* File description:    This CSS is linked to all the HTML pages */
/*                      Responsive portfolio website             */
/*                      Mobile first                             */
/* Created on:          14-11-2015                               */
/* Finished on:         ??-??-????                               */
/*****************************************************************/

* {
    box-sizing: border-box;
    color: #333;
    font-family: 'Roboto';
    font-weight: 400;
    line-height: 140%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/* Text markup; size/wieght*/
p{
    font-size: 1.25em;
    font-weight: 300;
}

h1{
    font-size: 1.75em;
}

h2{
    font-size: 1.6em;
}

h3{
    font-size: 1.5em;
    font-weight: 500;
}

h4{
    font-size: 1em;
}

h5{
    font-size: 0.875em;
}

h6{
    font-size: 0.75em;
}

/* Navigation */
nav.index {
    margin: 1em;
    text-align: right;
}

nav.index > ul > li > a {
    font-family: 'Signika';
    font-size: 2.5em;
    font-weight: 400;
    line-height: 100%;
}

/* Main section */
main > section {
    display: flex;
    flex-wrap: nowrap;
    margin: 1em 1em;
}

main > section > article:first-of-type {
    height: 9em;
    margin-top: 10vh;
    width: 60vw;
}

main > section > article:last-of-type {
    height: 30vh;
    margin-left: -7vw;
    width: 10vw;
}

main > section > article:last-of-type > img {
    bottom: 0;
    height: 35vh;
    position: fixed;
}

/* Homepage section; class: .home_section*/
.home_section {
    background-color: #1b7867;
}

.home_section > article {
    color: #14ccaa;
    height: 22vh;
    margin: 4em 1em 0 1em;
    width: 50vw;
}

.home_section > article > h3,
.home_section > article > p {
    color: #14ccaa;
}

/* My work */
section.work {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    order: 2;
}

section.work > article {
    margin: 1em;
    width: 22em;
}

section.work > article > p {
    background-color: rgb(27, 120, 103);
    color: #FFFFFF;
    display: block;
    height: 30vh;
    margin-top: -31vh;
    opacity: 0;
    position:relative;
    transition: opacity .5s;
    width: 100%;
}

section.work > article > img {
    height: 30vh;
    width: 22em;
}

section.work > article:hover > p {
    opacity: .7;
    transition: opacity .5s;
}

/* Mobile toggle menu */
.invisible {
    display: none;
}

/* Active class */
.active {
    border-bottom: 3px solid #14ccaa;
}

/**************************************************/
/* Screen width with a minimal size of 480 pixels */
/* Portrait view of smartphones;                  */
/**************************************************/
@media (min-width: 480px){

    /* Navigation */
    nav.index > ul > li > a {
        font-size: 1.5em;
    }

    /* Main section */
    main > section > article:first-of-type {
        width: 70vw;
    }

    main > section > article:last-of-type {
        margin-left: 0;
    }

    main > section > article:last-of-type > img {
        height: 45vh;
    }

    /* Homepage section; class: .home_section*/
    .home_section > article {
        height: 30vh;
    }

}

/**************************************************/
/* Screen width with a minimal size of 768 pixels */
/* Portrait view of tablets like; iPad, sony etc. */
/**************************************************/
@media (min-width: 768px){

    /* Text markup; size/wieght*/
    p{
        font-size: 1.375em;
    }

    h1{
        font-size: 3em;
    }

    h2{
        font-size: 2.5em;
    }

    h3{
        font-size: 2.25em;
    }

    h4{
        font-size: 1.875em;
    }

    h5{
        font-size: 1.625em;
    }

    h6{
        font-size: 1.25em;
    }

    /* Navigation */
    nav.index > ul > li > a {
        font-size: 3em;
    }

    /* Main section */

    main > section > article:last-of-type {
        margin-left: -10vw;
    }

    main > section > article:last-of-type > img {
        height: 35vh;
    }

    /* Homepage section; class: .home_section*/
    .home_section > article {
        height: 21vh;
    }

}

/***************************************************/
/* Screen width with a minimal size of 1024 pixels */
/* Landscape view of tablets like; iPad, sony etc. */
/***************************************************/
@media (min-width: 1024px){

    /* Main section */
    main > section > article:first-of-type {
        width: 60vw;
    }

    main > section > article:last-of-type {
        margin-left: 10vw;
    }

    main > section > article:last-of-type > img {
        height: 45vh;
    }

}

/***************************************************/
/* Screen width with a minimal size of 1280 pixels */
/***************************************************/
@media (min-width: 1280px){

    /* Text markup; size/wieght*/
    p{
        font-size: 1.125em;
    }

    h1{
        font-size: 3em;
    }

    h2{
        font-size: 3em;
    }

    h3{
        font-size: 2.5em;
        font-weight: 400;
    }

    h4{
        font-size: 1.875em;
    }

    h5{
        font-size: 1.625em;
    }

    h6{
        font-size: 1.25em;
    }

    /* Body */
    body{
        display: flex;
        flex-wrap: wrap;
    }

    /* Header */
    header {
        height: 40vh;
        order: 1;
        width: 68vw;
    }

    /* Navigation index*/
    nav.index > ul > li > a {
        font-size: 3.5em;
        transition: all .5s ;
    }

    nav.index > ul > li > a:hover {
        font-size: 4em;
        line-height: 150%;
        transition: all .5s ;
    }

    /* Navigation all */
    nav.all {
        background-color: #1b7867;
    }

    nav.all > ul > li {
        display: flex;
    }

    nav.all > ul > li > a {
        color: #FFFFFF;
    }

    /* Main section */
    main {
        display: flex;
        height: 50vh;
        margin-left: 31vw;
        margin-top: -50vh;
        order: 2;
        width: 68vw;
    }

    main > section > article:first-of-type {
        height: 30vh;
        width: 38vw;
    }

    main > section > article:last-of-type {
        height: 30vh;
        margin-left: 10vw;
        width: 10vw;
    }

    main > section > article:last-of-type > img {
        bottom: 0;
        height: 20vw;
        position: fixed;
}

    /* Homepage section; class: .home_section*/
    .home_section {
        background-color: #1b7867;
        height: 100vh;
        width: 30vw;
    }

    .home_section > article {
        color: #14ccaa;
        height: 22vh;
        margin: 25vw 1em 0 1em;
        width: 27vw;
    }

    .home_section > article > h3,
    .home_section > article > p {
        color: #14ccaa;
        text-align: right;
    }
}
