/*****************************************************************/
/* Author:              Kelvin van Amstel                        */
/* File description:    This CSS is linked to all the HTML pages */
/*                      Responsive portfolio website             */
/*                      Mobile first                             */
/* Created on:          14-11-2015                               */
/* Finished on:         ??-??-????                               */
/*****************************************************************/

@font-face {
    font-family: 'walkway_boldregular';
    src: url('Walkway_Bold-webfont.ttf') format('truetype');

}

* {
    box-sizing: border-box;
    color: #333;
    font-family: 'walkway_boldregular';
    line-height: 145%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

h3 {
    margin: 1em 5em;
    font-size:15pt;
    text-align: center;
}

h4 {
    color: #FFF;
    font-size:14pt;
}

p,
time,
span{
    font-family: "Open Sans",Georgia;
    font-size: 12pt;
    margin: .5em 0;
}

time,
span {
    font-style: italic;
}

header > nav {
    background-color: #333;
    -webkit-display: box;
    -moz-display: box;
    -ms-display: flexbox;
    display: flex;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    width: 100vw;

}

header > nav > ul {
    -webkit-display: box;
    -moz-display: box;
    -ms-display: flexbox;
    display: flex;
    -webkit-direction: column;
    flex-direction: column;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    margin: .5em;
}

header > nav > ul > li {
    -webkit-display: box;
    -moz-display: box;
    -ms-display: flexbox;
    display: flex;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    line-height: 140%;
}

header > nav > ul > li > a {
    color: #FFF;
    -webkit-display: box;
    -moz-display: box;
    -ms-display: flexbox;
    display: flex;
    height: 2em;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    line-height: 200%;
    padding-right: 1em;
    width: 98vw;
}

header > nav > ul > li > a:active {
    background-color: #CECECE;
}

header > img {
    -webkit-display: box;
    -moz-display: box;
    -ms-display: flexbox;
    display: flex;
    height: 100%;
    margin: 0 auto;
    width: 100%;
}

main {
    margin: 1em .5em;
}

main > article > section > picture > img {
    height: 80vw;
    margin-left: -1em;
    width: 98vw;
}

.projecten {
    margin: 4em .5em 2em .5em;
}

.projecten > article > article > section {
    border-top: 1px solid #E8E8E8;
    -webkit-display: box;
    -moz-display: box;
    -ms-display: flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
    margin: 2em 0;
}

.projecten > article > article > section > header {
    -webkit-display: box;
    -moz-display: box;
    -ms-display: flexbox;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
}

.projecten > article > article > section > p {
    height: 8em;
    text-align: center;
    width: 80%;
}

.projecten > article > article > section > a {
    background-color: #90C3D4;
    color: #FFF;
    height: 2em;
    line-height: 200%;
    margin: 1em 5em;
    text-align: center;
    width: 8em;
}

.projecten > article > article > section > a:active {
    background-color: #5694A8;
}

.projecten > article > article > section > footer {
    text-align: center;
    width: 80%;
}

.projecten > article > article > section > header > img {
    height: 60%;
    width: 60%;
}

.footer {
    background-color: #333;
}


.footer > article {
    padding: .5em 0.5em;
}

.footer > article > section > header {
    margin: 1em 0;
}

.footer > article > section > a > img,
.footer > article > section > nav > ul> li > a > img {
    height: 3.2em;
    width: 3.2em;
}

.footer > article > section > nav > ul > li > a:active{
    color: #AAA;
}

.footer > article > section > a:first-of-type > img:active {
    content:url("../img/linkedin_active.png");
}

.footer > article > section > a:last-of-type > img:active {
    content:url("../img/github_active.png");
}

.footer > article > section > p,
.footer > article > section > nav > ul > li > a {
    color: #FFF;
}

.author {
    color: #FFF;
    margin: 2em 0;
}

/* Javascript hide/show navigation */
.menu {
    -webkit-display: box;
    -moz-display: box;
    -ms-display: flexbox;
    display: flex;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    margin: .5em;
}

.invisible {
    display: none;
}

/**************************************************/
/* Screen width with a minimal size of 768 pixels */
/**************************************************/
@media (min-width: 768px){

    main,
    .projecten {
        margin: 2em;
    }

    main > article > section {
        -webkit-display: box;
        -moz-display: box;
        -ms-display: flexbox;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-justify-content: space-around;
        justify-content: space-around;
    }

    main > article > section > p {
        max-width: 40em;
        width: 48%;
    }

    main > article > section > picture > img {
        height: 90%;
        max-width: 40em;
        width: 90%
    }

    .projecten > article > header {
        margin-bottom: 1em;
    }

    .projecten > article > article {
        -webkit-display: box;
        -moz-display: box;
        -ms-display: flexbox;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-justify-content: flex-start space-between;
        justify-content: flex-start space-between;
    }

    .projecten > article > article > section {
        -webkit-display: box;
        -moz-display: box;
        -ms-display: flexbox;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        margin: 0;
        max-width: 30em;
        width: 45%;
    }

    .projecten > article > article > section > header > h3 {
        height: 2.5em;
    }

    .een {
        order: 0;
    }

    .twee {
        order: 1;
    }

    .drie {
        order: 3;
    }

    .vier {
        order: 2;
    }

    .vijf {
        order: 4;
    }

    .zes {
        order: 5;
    }
}

/***************************************************/
/* Screen width with a minimal size of 1280 pixels */
/***************************************************/
@media (min-width: 1280px){

    header > nav {
        background-color: #fff;
        -webkit-display: box;
        -moz-display: box;
        -ms-display: flexbox;
        display: flex;
        -webkit-justify-content: flex-end;
        justify-content: flex-end;
        margin: 1em 0 0 0;
        width: 98vw;
    }

    header > nav > ul {
        -webkit-display: box;
        -moz-display: box;
        -ms-display: flexbox;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-justify-content: space-around;
        justify-content: space-around;
        margin: 0;
        width: 33em;
    }

    header > nav > ul > li {
        -webkit-justify-content: space-around;
        justify-content: space-around;
    }

    header > nav > ul > li > a {
        background-color: #FFF;
        color: #333;
        width: 100%;
    }

    header > nav > ul > li > a:hover {
        color: #CCC;
    }

    header > nav > ul > li > a:active {
        background-color: #FFF;
    }

    main > article > section > p {
        min-width: 45%;
    }

    .projecten > article > article {
        -webkit-display: box;
        -moz-display: box;
        -ms-display: flexbox;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-justify-content: space-around;
        justify-content: space-around;
    }

    .projecten > article > article > section {
        -webkit-display: box;
        -moz-display: box;
        -ms-display: flexbox;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        margin: 0;
        max-width: 22em;
        width: 40%;
    }

    .projecten > article > article > section > header > img {
        width:  18em;
    }

    .een,
    .twee,
    .drie,
    .vier,
    .vijf,
    .zes {
        order: 0;
    }

    .projecten > article > article > section > a:hover {
        background-color: #4593AD;
    }

    .footer {
        height: 20em;
    }

    .footer > article {
        -webkit-display: box;
        -moz-display: box;
        -ms-display: flexbox;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-justify-content: space-between;
        justify-content: space-between;
    }

    .footer > article > section {
        border-left: 3px solid #AAA;
        margin: 2em;
    }

    .footer > article > section:first-of-type {
        border: none;
        width: 35em;
    }

    .footer > article > section:last-of-type > header,
    .footer > article > section:last-of-type > a,
    .footer > article > section:last-of-type > p{
        margin-left: 4em;
    }

    .footer > article > section > nav > ul > li > a:hover {
        color: #CCC;
    }

    .footer > article > section > a:last-of-type > img {
        margin-left: -2em;
    }

    .footer > article > section > a:first-of-type > img:hover {
        content:url("../img/linkedin_active.png");
    }

    .footer > article > section > a:last-of-type > img:hover {
        content:url("../img/github_active.png");
    }
}
